@using Microsoft.AspNetCore.Identity
@using JellyFish.Areas.Identity.Data
@inject SignInManager<JellyFishUser> SignInManager
@inject UserManager<JellyFishUser> UserManager
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-darck" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i style="color: #3b5e9c !important;
			font-weight:700;
			font-size:20px;" class="fa fa-user"></i>
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                @if (User.IsInRole("JobSeeker"))
                {
                    <li class="nav-item"><a id="manageJobSeeker" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/JOB">J. Manage</a></li>
                }
                @if (User.IsInRole("Employer"))
                {
                    <li class="nav-item"><a id="manageEmployer" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/EMP">E. Manage</a></li>

                }

                @if (User.IsInRole("Administrator"))
                {
                    <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Admin Panel</a></li>
                }
                <li><hr class="dropdown-divider"></li>
                <li class="nav-item"><form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"><button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button></form></li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item"><a class="nav-link text-darck" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        <li class="nav-item"><a class="nav-link text-darck" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    }
</ul>