@{
    ViewData["Title"] = "Home Page";
}


<style>


    /* Style the select box */
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 16px;
        font-weight: bold;
    }

    /* Style the options */
    option {
        font-size: 14px;
        font-weight: normal;
        color: #333;
        background-color: #fff;
    }



    #call-to-action {
        text-align: center;
        margin: 3em 0;
    }

        #call-to-action h1 {
            font-size: 5em;
            margin-bottom: 0.5em;
            color: #3b5e9c;
            font-weight: 700;
        }

        #call-to-action p {
            font-size: 1.8em;
            max-width: 790px;
            margin: 0 auto;
            color: #555;
        }

    #jobs-search {
        display: flex;
        justify-content: center;
        gap: 0.5em;
    }

    input[type="text"] {
        padding: 1em;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        outline: none;
        width: 60%;
        box-shadow: 1px 1px 2px #ccc;
    }

        input[type="text"]:focus {
            border-color: #007bff;
        }


    #jobs-search #searchBtn {
        background-color: #3b5e9c;
        color: white;
        font-weight: 700;
        padding: 1em;
        width: 8em;
        border: none;
        border-radius: 10px;
    }

    /* JOBS FILTER */

    #filter-select {
        padding: 0.5em 1em;
        text-align: center;
        background-color: rgb(213, 213, 213);
        border-radius: 5px;
    }

    #job-container {
        gap: 1em;
        display: flex;
        font-size: 1.2rem;
        padding: 18px 1em;
        border: 1px solid rgba(144,146,148,0.2);
        position: relative;
        margin-bottom: 8px;
        box-shadow: 1px 1px 2px #ccc;
        background-color: white;
    }




    #appyBtn {
        float: right;
        /* background-color: #3b5e9c; */
        color: #3b5e9c;
        font-weight: 600;
        padding: 1em;
        width: 8em;
        border: 0.5px solid #3b5e9c;
        margin-right: 20px;
    }
</style>






<section id="call-to-action">
    <h1>
        The #1 Job Board for
        <br />
        <span>IT Professionals</span>
    </h1>
    <p>
        Find the companies
        looking to hire or post a job if you are hiring
    </p>

</section>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to our IT job search and apply website! We are dedicated to connecting talented IT professionals with top employers in the industry. Our platform offers a comprehensive database of job openings across various IT fields, including software development, cybersecurity, network administration, and more. With our easy-to-use interface, you can quickly search for job listings that match your skills and experience, and apply directly to the employer with just a few clicks. We also provide resources and tools to help you improve your technical skills and stay up-to-date with the latest trends in the IT industry. Start your job search today and take the next step in your IT career with us!</p>
</div>
